body {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    color: white;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(7,16,38), rgb(0,101,160));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body * {
    font-family: inherit;
    font-weight: inherit;
}